@import '../../constants/theme/theme.module.scss';
@import '../../constants/constants/constants.module.scss';

.container-button {
  width: max-content;
  margin: 16px;

  > .inner {
    border-radius: $border-radius-sm;
    padding: $spacing-xs;
    box-shadow: 0 0 4px $background-dark;
  }

  > .inner:hover {
    box-shadow: 0 0 8px $primary-dark;
  }
}

.button-title {
  font-size: 16px;
  font-weight: 400;
  color: black;
}
