.container-button {
  display: flex;
  flex-direction: column;
  width: max-content;

  > .inner {
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 0 8px #3a3a3a inset;
  }

  > .inner:hover {
    box-shadow: 0 0 3px cornflowerblue inset;
  }
}

.button-title {
  font-size: 16px;
  font-weight: 400;
  color: black;
}
