// Primary theme colours
$primary-light: #5eb8ff;
$primary: #0288d1;
$primary-dark: #005b9f;
$secondary-light: #819ca9;
$secondary: #546e7a;
$secondary-dark: #29434e;

// fonts
$font-light: #484848;
$font: #212121;
$font-dark: #000000;

// backgrond colours
$background-white: #ffffff;
$background-primary: #efefef;
$background-warm: #fff3e0;
$background-dark: #8d8d8d;

// border colours
$border-dark: #000000;
$border-hover: $primary-dark;
$border-focus: $primary;
$border: $font-dark;
