$screen-size-xs-max: 10px;
$screen-size-sm-min: 11px;
$screen-size-sm-max: 15px;
$screen-size-md-min: 16px;
$screen-size-md-max: 24px;
$screen-size-lg-min: 25px;
$screen-size-lg-max: 35px;
$screen-size-xl-min: 36px;
