@import '../../../constants/constants/constants.module.scss';

@mixin grid-columns($size) {
  > .col-1-#{$size} {
    width: 8.33%;
    margin: 8px 0px;
  }

  > .col-2-#{$size} {
    width: 16.66%;
    margin: 8px 0px;
  }

  > .col-3-#{$size} {
    width: 25%;
    margin: 8px 0px;
  }

  > .col-4-#{$size} {
    width: 33.33%;
    margin: 8px 0px;
  }

  > .col-5-#{$size} {
    width: 41.66%;
    margin: 8px 0px;
  }

  > .col-6-#{$size} {
    width: 50%;
    margin: 8px 0px;
  }

  > .col-7-#{$size} {
    width: 58.33%;
    margin: 8px 0px;
  }

  > .col-8-#{$size} {
    width: 66.66%;
    margin: 8px 0px;
  }

  > .col-9-#{$size} {
    width: 75%;
    margin: 8px 0px;
  }

  > .col-10-#{$size} {
    width: 83.33%;
    margin: 8px 0px;
  }

  > .col-11-#{$size} {
    width: 91.66%;
    margin: 8px 0px;
  }

  > .col-12-#{$size} {
    width: 100%;
    margin: 8px 0px;
  }
}

.flex-grid {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;

  @include grid-columns(xs);

  @media screen and (min-width: $screen-size-min-sm) {
    @include grid-columns(sm);
  }

  @media screen and (min-width: $screen-size-min-md) {
    @include grid-columns(md);
  }

  @media screen and (min-width: $screen-size-min-lg) {
    @include grid-columns(lg);
  }

  @media screen and (min-width: $screen-size-min-xl) {
    @include grid-columns(xl);
  }
}
