@import '../../constants/theme/theme.module.scss';
@import '../../constants/constants/constants.module.scss';

.ui-banner__container {
  position: relative;
  height: 688px;

  .ui-image__container {
    object-fit: cover;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .ui-typography__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $font-dark;

    h1,
    h2,
    h3,
    h4 {
      padding: $spacing-xs $spacing-sm;
      background-color: #ffffff44;
    }
  }
}
